button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: .8rem;
  border: none;
  background-color: var(--content-brand);
  padding: 1rem 1.6rem;

  box-shadow: 0 0 40px rgba(146, 130, 250, 0.3);

  font: var(--font-head-sm);
  color: var(--color-text-button);
  max-width: fit-content;
  min-width: fit-content;
  
  white-space: nowrap;

  text-transform: uppercase;

  cursor: pointer;
}



