footer {
  position: relative;
  width: 100%;
  height: 7rem;

  background: #23242C;
}

button[data-type="new-schedule"] {
  position: absolute;

  left: 50%;
  right: 50%;

  bottom: 50%;

  transform: translateY(50%) translateX(-50%);


}