input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: fit-content;

  color: var(--content-tertiary);
  font: var(--font-sm);


  &::-webkit-calendar-picker-indicator {

    background-image: url(../assets/Icon-white.svg);
    cursor: pointer;
  }
}

select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  cursor: pointer;

  & option {
    color: var(--content-secondary);
    font: var(--font-sm);
  }
}

.wrap-select::after {

  content: '';
  pointer-events: none;

  background-image: url(../assets/Icon-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 1.6rem;
  height: 2rem;

  position: absolute;
  right: 1rem;
  top: 0;

  transform: translateY(50%);

}



.input {
  position: relative;
  margin: .5rem 0 1.6rem;


  & i {
    position: absolute;

    top: 50%;
    left: 5px;

    width: 2rem;
    height: 2rem;

    transform: translateY(-50%);
  }


  & input,
  & select {
    border: 1px solid var(--border-primary);
    background: none;

    width: 100%;

    border-radius: .5rem;
    padding: .8rem .8rem .8rem 3rem;

    color: var(--content-secondary);
    font: var(--font-md)
  }

  & input::placeholder {
    color: var(--content-tertiary);
    font: var(--font-sm)
  }

  & textarea {
    border: 1px solid var(--border-primary);
    background: none;

    width: 100%;

    border-radius: .5rem;
    padding: 1rem;

  }
}