section {

  background-color: var(--bg-color-secondary);

  border-radius: 1rem;

  margin-top: 2rem;
  margin-inline: auto;
  max-width: 768px;

  & aside {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding: 2rem;

    & span {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      justify-content: center;

      color: var(--content-tertiary);
      font: var(--font-head-md);

      & h2 {
        color: var(--content-primary);
      }
    }
  }



  & ul {

    &:has(li) {
      border-top: 1px solid var(--border-primary);

    }

    & li {

      list-style: none;

      border-top: 1px solid var(--border-primary);

      margin: 0 2rem;
      padding: 2rem 0;

      & > span {
        text-align: left;
        display: block;
        margin-bottom: .5rem;

        & small {
          color: var(--content-tertiary);
        }


      }

      & p {
        text-align: left;
        font: var(--font-paragraph-small);
        color: var(--content-secondary);
        margin-bottom: 2rem;
      }

      & div[data-type="remover"] {
        font: var(--font-paragraph-small);
        color: var(--content-secondary);
        border: none;
        background: none;

        

        display: flex;
        align-items: center;
        justify-content: end;

        & span:hover {
          cursor: pointer;
          color: #6f6d72;
        }
      }
    }


    & li:first-child {
      font: var(--font-md);
      border-top: none;


    }

  }
}